.panel_heading {
    background: #FFA500 !important;
    border-radius: 0px !important;
    height: 45px;
    margin: 0px !important;
}

#txt_visited {
    color: white;
    font-size: 28px;
    font-family: 'Fjalla One', sans-serif;
    position: relative;
    top: -5px;
}