<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading font_fjalla" id="panel_header">
                <span>MY WALL</span>
            </div>
            <div class="panel-body" id="panel_body">
                <div>
                    <div *ngFor="let comment of comments; let i = index">
                        <strong>{{ senderUsernames[i] }}:</strong> <i class="pull-right">({{ createdAt[i] | date: 'short' }})</i><br>
                        <hr class="margin_hr">
                        <span><strong></strong></span>
                        <p class="textComment">
                            <span>{{ textComment[i] }}</span>
                        </p>
                        <br>
                    </div>
                    <br>
                    <br>
                    <hr>
                    <form #commentForm="ngForm" (ngSubmit)="onSubmit(commentForm.value)" id="comment-form">
                        <div class="input-group">
                            <textarea *ngIf="isLoged" class="form-control" name="comment" ngModel id="comment"></textarea>
                            <button type="submit" *ngIf="isLoged" class="btn btn-primary form-control margin_down">comment</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>