<div class="panel panel-default widget">
    <div class="panel-body">
        <ul class="list-group">
            <div *ngIf="thereAreUsers">
                <div *ngFor="let user of bestillustration; let i = index">
                    <div *ngIf="i < nUploadedUsers">
                        <li class="list-group-item c_lightorange">
                            <div class="row">
                                <div class="col-md-2 c_darkgrey">
                                    <p class="number_position text-center">{{ i + 1 }}</p>
                                    <p class="text-center text_position">position</p>
                                </div>
                                <div class="col-xs-6 col-md-6">
                                    <div>
                                        <a [routerLink]="['../app-profile/profileuser', bestillustration[i]._id]" class="text_username">{{ bestillustration[i].username }}</a>
                                        <div class="comment-text">
                                            <i class="fa fa-eye" aria-hidden="true"></i> visits: {{ bestillustration[i].visits }}
                                        </div>
                                    </div>
                                    <div class="comment-text">
                                        <i class="fa fa-star-o" aria-hidden="true"></i> score: {{ bestillustration[i].score }}
                                    </div>
                                </div>
                                <div class="col-xs-2 col-md-1">
                                    <img src="http://localhost:3001/api/user/{{ bestillustration[i]._id }}/avatar" class="img-circle img-responsive m_top" alt=""/>
                                </div>
                                <div class="co-md-2 m_top">
                                    <span class="font_fjalla">{{ bestillustration[i].firstname | uppercase }} {{ bestillustration[i].lastname | uppercase }}</span><br>
                                    <span class="font_fjalla">CATEGORY: {{ bestillustration[i].category }}</span><br>
                                    <span class="font_fjalla">LVL: {{ bestillustration[i].score | level }}</span>
                                </div>
                            </div>
                        </li>
                    </div>
                </div>
            </div>
        </ul>
        <hr class="without_margin">
        <br>
        <button type="button" class="btn btn-warning btn-circle btn-lg center-block" (click)="loadMoreUsers()"><i class="fa fa-plus" aria-hidden="true"></i></button>
        <div class="text-center loadimages"><strong>LOAD MORE USERS</strong></div>
        <br>
    </div>
</div>
   

