<div class="row">
    <div class="col-md-12 hidden-sm hidden-xs">
        <div id="div_grey">
            <span id="txt_visited">THE MOST VISITED</span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 hidden-sm hidden-xs">
        <div class="carousel slide media-carousel" id="media">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                        <div class="col-md-1 without_spaces" style="margin-left: 44px !important">
                            <div *ngIf="thereAreUsers">
                                <a class="thumbnail" [routerLink]="['app-profile/profileuser', usersId[0]]"><img alt="" src="http://localhost:3001/api/user/{{ usersId[0] }}/avatar"></a>
                            </div>
                        </div>
                        <div class="col-md-1 without_spaces">
                            <div *ngIf="thereAreUsers">
                                <a class="thumbnail" [routerLink]="['app-profile/profileuser', usersId[1]]"><img alt="" src="http://localhost:3001/api/user/{{ usersId[1] }}/avatar"></a>
                            </div>
                        </div>
                        <div class="col-md-1 without_spaces">
                            <div *ngIf="thereAreUsers">
                                <a class="thumbnail" [routerLink]="['app-profile/profileuser', usersId[2]]"><img alt="" src="http://localhost:3001/api/user/{{ usersId[2] }}/avatar"></a>
                            </div>
                        </div>
                        <div class="col-md-1 without_spaces">
                            <div *ngIf="thereAreUsers">
                                <a class="thumbnail" [routerLink]="['app-profile/profileuser', usersId[3]]"><img alt="" src="http://localhost:3001/api/user/{{ usersId[3] }}/avatar"></a>
                            </div>
                        </div>
                        <div class="col-md-1 without_spaces">
                            <div *ngIf="thereAreUsers">
                                <a class="thumbnail" [routerLink]="['app-profile/profileuser', usersId[4]]"><img alt="" src="http://localhost:3001/api/user/{{ usersId[4] }}/avatar"></a>
                            </div>
                        </div>
                        <div class="col-md-1 without_spaces">
                            <div *ngIf="thereAreUsers">
                                <a class="thumbnail" [routerLink]="['app-profile/profileuser', usersId[5]]"><img alt="" src="http://localhost:3001/api/user/{{ usersId[5] }}/avatar"></a>
                            </div>
                        </div>
                        <div class="col-md-1 without_spaces">
                            <div *ngIf="thereAreUsers">
                                <a class="thumbnail" [routerLink]="['app-profile/profileuser', usersId[6]]"><img alt="" src="http://localhost:3001/api/user/{{ usersId[6] }}/avatar"></a>
                            </div>
                        </div>
                        <div class="col-md-1 without_spaces">
                            <div *ngIf="thereAreUsers">
                                <a class="thumbnail" [routerLink]="['app-profile/profileuser', usersId[7]]"><img alt="" src="http://localhost:3001/api/user/{{ usersId[7] }}/avatar"></a>
                            </div>
                        </div>
                        <div class="col-md-1 without_spaces">
                            <div *ngIf="thereAreUsers">
                                <a class="thumbnail" [routerLink]="['app-profile/profileuser', usersId[8]]"><img alt="" src="http://localhost:3001/api/user/{{ usersId[8] }}/avatar"></a>
                            </div>
                        </div>
                        <div class="col-md-1 without_spaces">
                            <div *ngIf="thereAreUsers">
                                <a class="thumbnail" [routerLink]="['app-profile/profileuser', usersId[9]]"><img alt="" src="http://localhost:3001/api/user/{{ usersId[9] }}/avatar"></a>
                            </div>
                        </div>
                        <div class="col-md-1 without_spaces">
                            <div *ngIf="thereAreUsers">
                                <a class="thumbnail" [routerLink]="['app-profile/profileuser', usersId[10]]"><img alt="" src="http://localhost:3001/api/user/{{ usersId[10] }}/avatar"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-md-1 without_spaces" style="margin-left: 44px !important">
                            <div *ngIf="thereAreUsers">
                                <a class="thumbnail" [routerLink]="['app-profile/profileuser', usersId[11]]"><img alt="" src="http://localhost:3001/api/user/{{ usersId[11] }}/avatar"></a>
                            </div>
                        </div>
                        <div class="col-md-1 without_spaces">
                            <div *ngIf="thereAreUsers">
                                <a class="thumbnail" [routerLink]="['app-profile/profileuser', usersId[12]]"><img alt="" src="http://localhost:3001/api/user/{{ usersId[12] }}/avatar"></a>
                            </div>
                        </div>
                        <div class="col-md-1 without_spaces">
                            <div *ngIf="thereAreUsers">
                                <a class="thumbnail" [routerLink]="['app-profile/profileuser', usersId[13]]"><img alt="" src="http://localhost:3001/api/user/{{ usersId[13] }}/avatar"></a>
                            </div>
                        </div>
                        <div class="col-md-1 without_spaces">
                            <div *ngIf="thereAreUsers">
                                <a class="thumbnail" [routerLink]="['app-profile/profileuser', usersId[14]]"><img alt="" src="http://localhost:3001/api/user/{{ usersId[14] }}/avatar"></a>
                            </div>
                        </div>
                        <div class="col-md-1 without_spaces">
                            <div *ngIf="thereAreUsers">
                                <a class="thumbnail" [routerLink]="['app-profile/profileuser', usersId[15]]"><img alt="" src="http://localhost:3001/api/user/{{ usersId[15] }}/avatar"></a>
                            </div>
                        </div>
                        <div class="col-md-1 without_spaces">
                            <div *ngIf="thereAreUsers">
                                <a class="thumbnail" [routerLink]="['app-profile/profileuser', usersId[16]]"><img alt="" src="http://localhost:3001/api/user/{{ usersId[16] }}/avatar"></a>
                            </div>
                        </div>
                        <div class="col-md-1 without_spaces">
                            <div *ngIf="thereAreUsers">
                                <a class="thumbnail" [routerLink]="['app-profile/profileuser', usersId[17]]"><img alt="" src="http://localhost:3001/api/user/{{ usersId[17] }}/avatar"></a>
                            </div>
                        </div>
                        <div class="col-md-1 without_spaces">
                            <div *ngIf="thereAreUsers">
                                <a class="thumbnail" [routerLink]="['app-profile/profileuser', usersId[18]]"><img alt="" src="http://localhost:3001/api/user/{{ usersId[18] }}/avatar"></a>
                            </div>
                        </div>
                        <div class="col-md-1 without_spaces">
                            <div *ngIf="thereAreUsers">
                                <a class="thumbnail" [routerLink]="['app-profile/profileuser', usersId[19]]"><img alt="" src="http://localhost:3001/api/user/{{ usersId[19] }}/avatar"></a>
                            </div>
                        </div>
                        <div class="col-md-1 without_spaces">
                            <div *ngIf="thereAreUsers">
                                <a class="thumbnail" [routerLink]="['app-profile/profileuser', usersId[20]]"><img alt="" src="http://localhost:3001/api/user/{{ usersId[20] }}/avatar"></a>
                            </div>
                        </div>
                        <div class="col-md-1 without_spaces">
                            <div *ngIf="thereAreUsers">
                                <a class="thumbnail" [routerLink]="['app-profile/profileuser', usersId[21]]"><img alt="" src="http://localhost:3001/api/user/{{ usersId[21] }}/avatar"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-md-1 without_spaces" style="margin-left: 44px !important">
                            <div *ngIf="thereAreUsers">
                                <a class="thumbnail" [routerLink]="['app-profile/profileuser', usersId[22]]"><img alt="" src="http://localhost:3001/api/user/{{ usersId[22] }}/avatar"></a>
                            </div>
                        </div>
                        <div class="col-md-1 without_spaces">
                            <div *ngIf="thereAreUsers">
                                <a class="thumbnail" [routerLink]="['app-profile/profileuser', usersId[23]]"><img alt="" src="http://localhost:3001/api/user/{{ usersId[23] }}/avatar"></a>
                            </div>
                        </div>
                        <div class="col-md-1 without_spaces">
                            <div *ngIf="thereAreUsers">
                                <a class="thumbnail" [routerLink]="['app-profile/profileuser', usersId[24]]"><img alt="" src="http://localhost:3001/api/user/{{ usersId[24] }}/avatar"></a>
                            </div>
                        </div>
                        <div class="col-md-1 without_spaces">
                            <div *ngIf="thereAreUsers">
                                <a class="thumbnail" [routerLink]="['app-profile/profileuser', usersId[25]]"><img alt="" src="http://localhost:3001/api/user/{{ usersId[25] }}/avatar"></a>
                            </div>
                        </div>
                        <div class="col-md-1 without_spaces">
                            <div *ngIf="thereAreUsers">
                                <a class="thumbnail" [routerLink]="['app-profile/profileuser', usersId[26]]"><img alt="" src="http://localhost:3001/api/user/{{ usersId[26] }}/avatar"></a>
                            </div>
                        </div>
                        <div class="col-md-1 without_spaces">
                            <div *ngIf="thereAreUsers">
                                <a class="thumbnail" [routerLink]="['app-profile/profileuser', usersId[27]]"><img alt="" src="http://localhost:3001/api/user/{{ usersId[27] }}/avatar"></a>
                            </div>
                        </div>
                        <div class="col-md-1 without_spaces">
                            <div *ngIf="thereAreUsers">
                                <a class="thumbnail" [routerLink]="['app-profile/profileuser', usersId[28]]"><img alt="" src="http://localhost:3001/api/user/{{ usersId[28] }}/avatar"></a>
                            </div>
                        </div>
                        <div class="col-md-1 without_spaces">
                            <div *ngIf="thereAreUsers">
                                <a class="thumbnail" [routerLink]="['app-profile/profileuser', usersId[29]]"><img alt="" src="http://localhost:3001/api/user/{{ usersId[29] }}/avatar"></a>
                            </div>
                        </div>
                        <div class="col-md-1 without_spaces">
                            <div *ngIf="thereAreUsers">
                                <a class="thumbnail" [routerLink]="['app-profile/profileuser', usersId[30]]"><img alt="" src="http://localhost:3001/api/user/{{ usersId[30] }}/avatar"></a>
                            </div>
                        </div>
                        <div class="col-md-1 without_spaces">
                            <div *ngIf="thereAreUsers">
                                <a class="thumbnail" [routerLink]="['app-profile/profileuser', usersId[31]]"><img alt="" src="http://localhost:3001/api/user/{{ usersId[31] }}/avatar"></a>
                            </div>
                        </div>
                        <div class="col-md-1 without_spaces">
                            <div *ngIf="thereAreUsers">
                                <a class="thumbnail" [routerLink]="['app-profile/profileuser', usersId[32]]"><img alt="" src="http://localhost:3001/api/user/{{ usersId[32] }}/avatar"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a data-slide="prev" href="#media" class="left carousel-control"><i class="fa fa-arrow-left" aria-hidden="true" style="margin-top:5px"></i></a>
            <a data-slide="next" href="#media" class="right carousel-control"><i class="fa fa-arrow-right" aria-hidden="true" style="margin-top:5px"></i></a>
        </div>
    </div>
</div>