<app-signin-form></app-signin-form>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading font_fjalla" id="panel_header" >
            DUELS <i class="fa fa-handshake-o" aria-hidden="true"></i> 
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <app-gallery-duels></app-gallery-duels>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <app-duels-illustration></app-duels-illustration>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <app-duels-photography></app-duels-photography>
                </div>
            </div>
        </div>
    </div>
</div>