<div class="panel panel-default widget">
    <div class="panel-body">
        <ul class="list-group">
            <div *ngIf="thereAreUsers">
                <div *ngFor="let user of bestusers; let i = index">
                    <div *ngIf="i < nUploadedUsers-1">
                    <li class="list-group-item c_lightorange">
                        <div class="row">
                            <div class="col-md-2 c_darkgrey">
                                <p class="number_position text-center">{{ i + 2 }}</p>
                                <p class="text-center text_position">position</p>
                            </div>
                            <div class="col-xs-6 col-md-3">
                                <div>
                                    <a [routerLink]="['../app-profile/profileuser', bestusers[i+1]._id]" class="text_username">{{ bestusers[i + 1].username }}</a>
                                    <div class="comment-text">
                                        <i class="fa fa-eye" aria-hidden="true"></i> visits: {{ bestusers[i + 1].visits }}
                                    </div>
                                </div>
                                <div class="comment-text">
                                    <i class="fa fa-star-o" aria-hidden="true"></i> score: {{ bestusers[i + 1].score }}
                                </div>
                            </div>
                            <div class="col-xd-3 col-md-3 hidden-xs">
                                <br>
                                <div class="comment-text">
                                    <i class="fa fa-chevron-circle-up" aria-hidden="true"></i> victories: {{ bestusers[i + 1].n_victories }}
                                </div>
                                <div class="comment-text">
                                    <i class="fa fa-chevron-circle-down" aria-hidden="true"></i> defeats: {{ bestusers[i + 1].n_defeats }}
                                </div>
                            </div>
                            <div class="col-xs-2 col-md-1">
                                <img src="http://localhost:3001/api/user/{{ bestusers[i + 1]._id }}/avatar" class="img-circle img-responsive m_top img_avatar" alt=""/>
                            </div>
                            <div class="co-md-2 m_top">
                                <span class="font_fjalla">{{ bestusers[i + 1].firstname | uppercase }} {{ bestusers[i + 1].lastname | uppercase }}</span><br>
                                <span class="font_fjalla">CATEGORY: {{ bestusers[i + 1].category }}</span><br>
                                <span class="font_fjalla">LVL: {{ bestusers[i + 1].score | level }}</span>
                            </div>
                        </div>
                    </li>
                    </div>
                </div>
            </div>
        </ul>
        <hr class="without_margin">
        <br>
        <button type="button" class="btn btn-warning btn-circle btn-lg center-block" (click)="loadMoreUsers()"><i class="fa fa-plus" aria-hidden="true"></i></button>
        <div class="text-center loadimages"><strong>LOAD MORE USERS</strong></div>
        <br>
    </div>
</div>
   

