.widget .panel-body { padding:0px; }
.widget .list-group { margin-bottom: 0; }
.widget .panel-title { display:inline }
.widget .label-info { float: right; }
.widget li.list-group-item {border-radius: 0;border: 0;border-top: 1px solid #ddd;}
.widget li.list-group-item:hover { background-color: rgba(86,61,124,.1); }
.widget .mic-info { color: #666666;font-size: 11px; }
.widget .action { margin-top:5px; }
.widget .comment-text { font-size: 12px; }
.widget .btn-block { border-top-left-radius:0px;border-top-right-radius:0px; }

.number_position {
  font-size: 25px;
  font-family: 'Fjalla One', sans-serif;
  color: white;
  margin: 0px !important;
}

.text_position {
  font-family: 'Fjalla One', sans-serif;
  font-size: 18px;
  color: whitesmoke;
  background: orange;
}

.text_username {
  font-family: 'Fjalla One', sans-serif;
  font-size: 17px;
}

.font_fjalla {
    font-family: 'Fjalla One', sans-serif;
}

.c_lightorange {
  background: whitesmoke;
}

.c_darkgrey {
  background: #3F3F3F;
}

/* btn circle */
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.loadimages {
    font-size: 12px;
}

.without_margin {
    margin: 0px;
    padding: 0px;
}