<!-- Modal -->
<div id="modaltoprated" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content modal_img text-center" id="modal_img">
            <div class="modal-header" id="m_header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <span class="modal-title" id="txt_header_modal">
                    <i class="fa fa-tag" aria-hidden="true"></i> {{ imagesTitles[imgModal] }}
                </span>
            </div>
            <div class="modal-body">
                <div *ngIf="thereAreImages">
                    <img src="http://localhost:3001/api/image/{{ imagesId[imgModal] }}/urlimage" class="img-responsive image_padd" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Modal content -->


<div class="panel panel-default">
    <div class="panel-heading panel_heading">
        <span id="txt_visited">TOP RATED</span>
    </div>
    <div class="panel-body panel_body">
        <div *ngFor="let image of imagesId; let i = index">
            <div class="col-md-4 col-sm-4 col-xs-6 div_img">
                <div *ngIf="thereAreImages">
                    <img src="http://localhost:3001/api/image/{{ imagesId[i] }}/urlimage" class="img-responsive image_padd" data-toggle="modal" data-target="#modaltoprated" (click)="selectImage(i)" />
                </div>
                <div class="row hidden-sm hidden-xs">
                    <div class="col-md-3">
                        <div class="div_lvl">
                            <div class="Aligner">
                                <div class="Aligner-item Aligner-item--top"></div>
                                <div class="Aligner-item txt_lvl">{{ scoreUsers[i] | level }}</div>
                                <div class="Aligner-item Aligner-item--bottom txt_num">LVL</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <span class="txt_title"><i class="fa fa-tag" aria-hidden="true"></i> <strong>{{ imagesTitles[i] | uppercase }}</strong></span><br>
                        <span><i class="fa fa-user-circle" aria-hidden="true"></i><a [routerLink]="['app-profile/profileuser', usersId[i]]"> {{ usernames[i] }}</a></span><br>
                        <span class="txt_score"><i class="fa fa-star" aria-hidden="true"></i> {{ scoreImages[i] }}</span><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="without_margin">
    <br>
    <button type="button" class="btn btn-warning btn-circle btn-lg center-block" (click)="loadMoreImages()"><i class="fa fa-plus" aria-hidden="true"></i></button>
    <div class="text-center loadimages"><strong>LOAD MORE IMAGES</strong></div>
    <br>
</div>