<!-- Modal -->
<div id="modaltoprated" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content modal_img text-center" id="modal_img">
            <div class="modal-header" id="m_header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <span class="modal-title" id="txt_header_modal">
                    <i class="fa fa-tag" aria-hidden="true"></i> {{ imagesTitles[imgModal] }}
                </span>
            </div>
            <div class="modal-body">
                <div *ngIf="thereAreImages">
                    <img src="http://localhost:3001/api/image/{{ imagesId[imgModal] }}/urlimage" class="img-responsive image_padd" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Modal content -->


<div class="panel panel-default">
    <div class="panel-heading panel_heading">
        <span id="txt_visited">TOP RATED</span>
    </div>
    <div class="panel-body panel_body">
        <div class="col-md-4 col-sm-4 col-xs-6 div_img">
            <div *ngIf="thereAreImages">
                <img src="http://localhost:3001/api/image/{{ imagesId[0] }}/urlimage" class="img-responsive image_padd" data-toggle="modal" data-target="#modaltoprated" (click)="selectImage(0)" />
            </div>
            <div class="row hidden-sm hidden-xs">
                <div class="col-md-3">
                    <div class="div_lvl">
                        <div class="Aligner">
                            <div class="Aligner-item Aligner-item--top"></div>
                            <div class="Aligner-item txt_lvl">{{ scoreUsers[0] | level }}</div>
                            <div class="Aligner-item Aligner-item--bottom txt_num">LVL</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <span class="txt_title"><i class="fa fa-tag" aria-hidden="true"></i> <strong>{{ imagesTitles[0] | uppercase }}</strong></span><br>
                    <span><i class="fa fa-user-circle" aria-hidden="true"></i><a href="#"> {{ usernames[0] }}</a></span><br>
                    <span class="txt_score"><i class="fa fa-star" aria-hidden="true"></i> {{ scoreUsers[0] }}</span><br>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 div_img">
            <div *ngIf="thereAreImages">
                <img src="http://localhost:3001/api/image/{{ imagesId[1] }}/urlimage" class="img-responsive image_padd" data-toggle="modal" data-target="#modaltoprated" (click)="selectImage(1)" />
            </div>
            <div class="row hidden-sm hidden-xs">
                <div class="col-md-3">
                    <div class="div_lvl">
                        <div class="Aligner">
                            <div class="Aligner-item Aligner-item--top"></div>
                            <div class="Aligner-item txt_lvl">{{ scoreUsers[0] | level }}</div>
                            <div class="Aligner-item Aligner-item--bottom txt_num">LVL</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <span class="txt_title"><i class="fa fa-tag" aria-hidden="true"></i> <strong>{{ imagesTitles[1] | uppercase }}</strong></span><br>
                    <span><i class="fa fa-user-circle" aria-hidden="true"></i><a href="#"> {{ usernames[1] }}</a></span><br>
                    <span class="txt_score"><i class="fa fa-star" aria-hidden="true"></i> {{ scoreUsers[1]  }}</span><br>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6 hidden-xs div_img">
            <div *ngIf="thereAreImages">
                <img src="http://localhost:3001/api/image/{{ imagesId[2] }}/urlimage" class="img-responsive image_padd" data-toggle="modal" data-target="#modaltoprated" (click)="selectImage(2)" />
            </div>
            <div class="row hidden-sm hidden-xs">
                <div class="col-md-3">
                    <div class="div_lvl">
                        <div class="Aligner">
                            <div class="Aligner-item Aligner-item--top"></div>
                            <div class="Aligner-item txt_lvl">{{ scoreUsers[0] | level }}</div>
                            <div class="Aligner-item Aligner-item--bottom txt_num">LVL</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <span class="txt_title"><i class="fa fa-tag" aria-hidden="true"></i> <strong>{{ imagesTitles[2] | uppercase }}</strong></span><br>
                    <span><i class="fa fa-user-circle" aria-hidden="true"></i><a href="#"> {{ usernames[2] }}</a></span><br>
                    <span class="txt_score"><i class="fa fa-star" aria-hidden="true"></i> {{ scoreUsers[2] }}</span><br>
                </div>
            </div>
        </div>
    </div>
</div>