<div id="div-forms">

  <form id="login-form" novalidate="">
    <div class="modal-body">
      <div id="div-login-msg" class="text-center">
        <span id="text-login-msg">TYPE YOUR E-MAIL AND PASSWORD</span>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
          </div>
          <input id="login_email" class="form-control" type="email" autocomplete="email" placeholder="E-Mail" required>
          <!--<div class="valid-feedback">Success! You've done it.</div>
          <div class="invalid-feedback">No, you missed this one.</div>-->
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-key"></i></span>
          </div>
          <!-- pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}" -->
          <input id="login_password" class="form-control" type="password" autocomplete="current-password" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}" placeholder="Password" required>
          <!--<div class="valid-feedback">Nice! You got this one!</div>
          <div class="invalid-feedback">Sorry, you missed this one.</div>-->
        </div>
      </div>

      <div class="text-center">
        <button (click)="signInWithFB()" class="btn btn-fb">Login with <i class="fab fa-facebook-f"></i>acebook</button>
        <button (click)="signInWithGoogle()" class="btn btn-gplus m-left">Login with <i class="fab fa-google"></i>oogle</button>
      </div>

    </div>
    <div class="modal-footer">
        <button type="submit" id="btnLogin" class="btn btn-primary btn-lg btn-block clr-org mr-auto"><strong>LOGIN <i class="fas fa-arrow-left"></i></strong></button>
        <button id="login_lost_btn" type="button" class="btn btn-link">LOST PASSWORD?</button>
        <button id="login_register_btn" type="button" class="btn btn-link">REGISTER</button>
    </div>
  </form>
            
  <!-- Begin | Lost Password Form -->
  <form id="lost-form" style="display:none" novalidate="">
    <div class="modal-body">
      <div id="div-lost-msg" class="text-center">
        <span id="text-lost-msg">TYPE YOUR E-MAIL</span>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
          </div>
          <input id="lost_email" class="form-control" type="email" autocomplete="email" placeholder="E-Mail" required>
        </div>
      </div>
    </div>
    <div class="modal-footer">
        <button type="submit" id="btnLost" class="btn btn-primary btn-lg btn-block clr-org"><strong>SEND <i class="fas fa-arrow-left"></i></strong></button>
        <button id="lost_login_btn" type="button" class="btn btn-link">LOGIN</button>
        <button id="lost_register_btn" type="button" class="btn btn-link">REGISTER</button>
    </div>

  </form>
            
  <!-- Begin | Register Form -->
  <form id="register-form" style="display:none">
    <div class="modal-body">
      <div id="div-register-msg" class="text-center">
        <span id="text-register-msg">REGISTER AN ACCOUNT</span>
      </div>
      
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-user-astronaut"></i></span>
        </div>
        <input id="register_username" class="form-control" type="text" placeholder="Username" required>
      </div>

      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-info-circle"></i></span>
        </div>
        <input id="register_firstname" class="form-control" type="text" placeholder="Firstname" required>
      </div>

      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-info-circle"></i></span>
        </div>
        <input id="register_lastname" class="form-control" type="text" placeholder="Lastname" required>
      </div>
      
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
        </div>
        <input id="register_email" class="form-control" type="email" autocomplete="email" placeholder="E-Mail" required>
      </div>
      
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-key"></i></span>
        </div>
        <input id="register_password" class="form-control" type="password" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}" placeholder="Min 8 chars, at least 1 letter, 1 number and 1 special character" autocomplete="current-password" required>
      </div>

      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-birthday-cake"></i></span>
        </div>
        <input id="register_birthday" type="date" [(ngModel)]="birthday" name="birthday" class="form-control" min="1919-12-31" max="2010-12-31" required>
      </div>

      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-hat-wizard"></i></span>
        </div>
        <select name="categories" ngModel class="form-control" id="register_category" required>
            <option value="" disabled>Choose your category</option>
            <option *ngFor="let category of categories" [ngValue]="category">
              {{ category }} | {{ category | class | uppercase }}
            </option>
          </select>
      </div>

      <div>
        <input [(ngModel)]="checkTerms" class="cb-terms" (change)="checkTermsAndConditions()" type="checkbox" name="checkTerms">I Accept the <a href="/assets/pdf/termsfeed-terms-conditions-pdf-english.pdf" download>Terms and Conditions</a>
      </div>
      
      <!--<div class="dropdown form-control">
        <button class="btn btn-default dropdown-toggle btnDropdown text-left" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> <strong>Select a category</strong>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li class="li-select" style="margin-top: 5%">
            <a class="a-select">
              <img src="assets/img/select_illustration.png" width="40px"/> Illustration</a>
          </li>
          <hr>
          <li class="li-select">
            <a class="a-select">
              <img src="assets/img/select_photography.png" width="40px"/> Photography</a>
          </li>
          <hr>
          <li class="li-select" style="margin-bottom: 5%">
            <a class="a-select">
              <img src="assets/img/select_3dmodel.png" width="40px"/> 3D Model</a>
          </li>
        </ul>
      </div>-->
    </div>
    
    <div class="modal-footer">
        <button type="submit" id="btnRegister" class="btn btn-primary btn-lg btn-block clr-org" [disabled]="!checkTerms"><strong>REGISTER <i class="fas fa-arrow-left"></i></strong></button>
        <button id="register_login_btn" type="button" class="btn btn-link">LOGIN</button>
        <button id="register_lost_btn" type="button" class="btn btn-link">LOST PASSWORD?</button>
    </div>

  </form>
  
  </div>