<div class="container">
    <div class="row">
        <!-- Carousel -->
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div *ngIf="thereAreUsers">
                        <img src="http://localhost:3001/api/user/{{ this.usersId[0] }}/imghead" alt="First slide">
                    </div>
                    <!-- Static Header -->
                    <div class="header-text hidden-xs">
                        <div class="col-md-12 text-center">
                            <h2>
                                <div *ngIf="thereAreUsers">
                                    <span><strong>{{ usersOrderByScore['users'][0].username }}</strong></span>
                                </div>
                            </h2>
                            <br>
                            <h3>
                                <div *ngIf="thereAreUsers">
                                    <span>score: <strong>{{ usersOrderByScore['users'][0].score }}</strong> | {{ usersOrderByScore['users'][1].categories }}</span>
                                </div>
                            </h3>
                            <br>
                        </div>
                    </div>
                    <!-- /header-text -->
                </div>
                <div class="item">
                    <div *ngIf="thereAreUsers">
                        <img src="http://localhost:3001/api/user/{{ this.usersId[1] }}/imghead" alt="Second slide">
                    </div>
                    <!-- Static Header -->
                    <div class="header-text hidden-xs">
                        <div class="col-md-12 text-center">
                            <h2>
                                <div *ngIf="thereAreUsers">
                                    <span><strong>{{ usersOrderByScore['users'][1].username }}</strong></span>
                                </div>
                            </h2>
                            <br>
                            <h3>
                                <div *ngIf="thereAreUsers">
                                    <span>score: <strong>{{ usersOrderByScore['users'][1].score }}</strong> | {{ usersOrderByScore['users'][1].categories }}</span>
                                </div>
                            </h3>
                            <br>
                        </div>
                    </div>
                    <!-- /header-text -->
                </div>
                <div class="item">
                    <div *ngIf="thereAreUsers">
                        <img src="http://localhost:3001/api/user/{{ this.usersId[2] }}/imghead" alt="Third slide">
                    </div>
                    <!-- Static Header -->
                    <div class="header-text hidden-xs">
                        <div class="col-md-12 text-center">
                            <h2>
                                <div *ngIf="thereAreUsers">
                                    <span><strong>{{ usersOrderByScore['users'][2].username }}</strong></span>
                                </div>
                            </h2>
                            <br>
                            <h3>
                                <div *ngIf="thereAreUsers">
                                    <span>score: <strong>{{ usersOrderByScore['users'][2].score }}</strong> | {{ usersOrderByScore['users'][1].categories }}</span>
                                </div>
                            </h3>
                            <br>
                        </div>
                    </div>
                    <!-- /header-text -->
                </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
        <!-- /carousel -->
        <!-- div orange -->
        <div id="div_orange"></div>
    </div>
</div>