<app-signin-form></app-signin-form>

<div class="container">
    <div class="panel panel-default animated bounceInLeft">
        <div class="panel-heading panel_heading">
            <span class="txt_signup">Sign up</span>
        </div>
        <div class="panel-body">
            <br>
            <form #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm.value)" id="signup-form">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="username" ngModel id="username" placeholder="Enter your username" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" name="password" ngModel id="password" placeholder="Enter your Password" />
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="firstname" ngModel id="firstname" placeholder="Enter your firstname" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="lastname" ngModel id="lastname" placeholder="Enter your lastname" />
                        </div>
                    </div>
                </div>
                <br>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <label for="birthday">Birthday</label>
                        <input type="date" class="form-control" name="birthday" ngModel id="birthday">
                    </div>
                    <div class="col-md-6">
                        <label for="category">Category</label>
                        <select [(ngModel)]="strValue" class="form-control" name="category" ngModel>
                            <option *ngFor="let category of categories" [ngValue]="category">{{ category }}</option>
                        </select>
                    </div>
                </div>
                <br>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-facebook-square" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="profile_facebook" ngModel id="profile_facebook" placeholder="Enter your facebook profile" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-twitter-square" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="profile_twitter" ngModel id="profile_twitter" placeholder="Enter your twitter profile" />
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-pinterest-square" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="profile_pinterest" ngModel id="profile_pinterest" placeholder="Enter your pinterest profile" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="email" ngModel id="email" placeholder="Enter your Email" />
                        </div>
                    </div>
                </div>
                <br>
                <hr>
                <button type="submit" class="btn btn-success pull-right">sign up</button>
            </form>
        </div>
    </div>
</div>