<app-signin-form></app-signin-form>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <carousel-header></carousel-header>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <app-carousel-visited></app-carousel-visited>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <app-aside></app-aside>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <app-gallery-latestuploads></app-gallery-latestuploads>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <app-gallery-toprated></app-gallery-toprated>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <app-gallery-duels></app-gallery-duels>
                </div>
            </div>
        </div>
    </div>
</div>

