<div class="panel panel-default">
    <div class="panel-heading">
        signin
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <input #email type="text" class="form-control" id="email" placeholder="email">
            </div>
            <div class="col-md-6">
                <input #password type="password" class="form-control" id="password" placeholder="password">
            </div>
        </div>
        <br>
        <button class="btn btn-success form-control" (click)="signIn(email.value, password.value)">sign in</button>
    </div>
</div>