<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading font_fjalla" id="panel_header">
                <span>RANKING</span>
            </div>
            <div class="panel-body" id="panel_body">
                <strong>Illustration</strong><i class="fa fa-paint-brush pull-right" aria-hidden="true"></i><br>
                <hr class="margin_hr">
                <ol class="ol_margin">
                    <li *ngFor="let user of illustrationUsers">
                        <a [routerLink]="['../app-profile/profileuser', user._id]">{{ user.username | uppercase }}</a> ... <span class="hidden-md pull-right">{{ user.score|number:'1.2' }}</span><br>
                    </li>
                </ol><br>
                <strong>Photography</strong><i class="fa fa-camera-retro pull-right" aria-hidden="true"></i><br>
                <hr class="margin_hr">
                <ol class="ol_margin">
                    <li *ngFor="let user of photographyUsers">
                        <a [routerLink]="['../app-profile/profileuser', user._id]">{{ user.username | uppercase }}</a> ... <span class="hidden-md pull-right">{{ user.score|number:'1.2' }}</span><br>
                    </li>
                </ol><br>
                <strong>3D Modeling</strong><i class="fa fa-cube pull-right" aria-hidden="true"></i><br>
                <hr class="margin_hr">
                <ol class="ol_margin">
                    <li *ngFor="let user of modelingUsers">
                        <a [routerLink]="['../app-profile/profileuser', user._id]">{{ user.username | uppercase }}</a> ... <span class="hidden-md pull-right">{{ user.score|number:'1.2' }}</span><br>
                    </li>
                </ol><br>
                <strong>Duels</strong><i class="fa fa-handshake-o pull-right" aria-hidden="true"></i><br>
                <hr class="margin_hr">
                <ol class="ol_margin">
                    <li *ngFor="let user of victoriesUsers">
                        <a [routerLink]="['../app-profile/profileuser', user._id]">{{ user.username | uppercase }}</a> ... <span class="hidden-md pull-right">{{ user.score|number:'1.2' }}</span><br>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
