<div class="modal fade" id="modalUploadImage" tabindex="-1" role="dialog" aria-labelledby="modalUploadImageTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-header mdl-head">
        <h5 class="modal-title"><i class="fas fa-arrow-right"></i> &nbsp;UPLOAD AN IMAGE!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-12 mx-auto text-center">

              <input type="file" class="btn btn-file btn-primary text-center" style="width: 100%" 
              (change)="fileChangeEvent($event)" />
              <br>
              
              <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
                [cropperMinWidth]="1150" [resizeToWidth]="1150" [aspectRatio]="3 / 1" format="png"
                (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
                (loadImageFailed)="loadImageFailed()"></image-cropper>

              <hr>
              <img [src]="croppedImage" style="width: 320px" />

            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer mdl-foot">
        <button (click)="uploadImage()" type="button" class="btn btn-success">UPLOAD IMAGE/S
          <i class="fas fa-upload"></i>
        </button>
      </div>

    </div>
  </div>
</div>

<notifier-container></notifier-container>