<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">

        <div class="card-header clr-org">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="#">Info <i class="fas fa-user"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Stats <i class="fas fa-chart-pie"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Skills <i class="fas fa-chart-bar"></i></a>
            </li>
          </ul>
        </div>

        <div class="card-body">
          <form [formGroup]="editForm" (ngSubmit)="loadVariablesToUpdate(editForm.value)">
            <div class="row">
              <div class="col-lg">

                <!-- Avatar Card -->
                <app-avatar-uploader></app-avatar-uploader> 

                <!-- Social Networks Card -->
                <div class="card text-white bg-info mb-3">
                  <div class="card-header">SOCIAL NETWORKS <i class="fas fa-globe-americas"></i></div>
                  <div class="card-body">

                    <label for="profile_facebook">Facebook profile</label>
                    <input type="checkbox" id="active_facebook" [(ngModel)]="active_facebook" formControlName="active_facebook" data-md-icheck (change)="toggleSocialNetworksVisibility($event)" style="margin-left: 30px" />
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon5"><i class="fab fa-facebook-f"></i></span>
                      </div>
                      <input type="text" name="profile_facebook" class="form-control" id="profile_facebook" placeholder="put your link of Facebook profile here..." 
                        formControlName="profile_facebook" [(ngModel)]="user.profile_facebook">
                    </div>

                    <label for="profile_twitter">Twitter profile</label>
                    <input type="checkbox" id="active_twitter" [(ngModel)]="active_twitter" formControlName="active_twitter" data-md-icheck (change)="toggleSocialNetworksVisibility($event)" style="margin-left: 30px" />
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon6"><i class="fab fa-twitter"></i></span>
                      </div>
                      <input type="text" name="profile_twitter" class="form-control" id="profile_twitter" placeholder="put your link of Twitter profile here..."
                        formControlName="profile_twitter" [(ngModel)]="user.profile_twitter">
                    </div>

                    <label for="profile_deviantart">Deviantart profile</label>
                    <input type="checkbox" id="active_deviantart" [(ngModel)]="user.active_deviantart" formControlName="active_deviantart" data-md-icheck (change)="toggleSocialNetworksVisibility($event)" style="margin-left: 30px" />
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon7"><i class="fab fa-deviantart"></i></span>
                      </div>
                      <input type="text" name="profile_deviantart" class="form-control" id="profile_deviantart" placeholder="put your link of Deviantart profile here..."
                        formControlName="profile_deviantart" [(ngModel)]="user.profile_deviantart">
                    </div>

                  </div>
                </div>
              </div>

              <div class="col-lg">
                <!-- Personal Info Card -->
                <div class="card text-black bg-white mb-3" style="height: 97.8%">
                  <div class="card-header">PERSONAL INFO <i class="fas fa-info-circle"></i></div>
                  <div class="card-body">
                    <label for="username">Username</label>
                    <div class="alert" *ngIf="!editForm.controls['username'].valid"> IS NOT CORRECTLY COMPLETED!</div>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user-astronaut"></i></span>
                      </div>
                      <input type="text" name="username" class="form-control" id="username" formControlName="username" [(ngModel)]="user.username"
                        required>
                    </div>
                    <label for="firstname">Firstname</label>
                    <div class="alert" *ngIf="!editForm.controls['firstname'].valid"> IS NOT CORRECTLY COMPLETED!</div>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-info"></i></span>
                      </div>
                      <input type="text" name="firstname" class="form-control" id="firstname" formControlName="firstname" [(ngModel)]="user.firstname"
                        required>
                    </div>
                    <label for="lastname">Lastname</label>
                    <div class="alert" *ngIf="!editForm.controls['lastname'].valid"> IS NOT CORRECTLY COMPLETED!</div>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-info"></i></span>
                      </div>
                      <input type="text" name="lastname" class="form-control" id="lastname" formControlName="lastname" [(ngModel)]="user.lastname"
                        required>
                    </div>
                    <label for="email">Email</label>
                    <div class="alert" *ngIf="!editForm.controls['email'].valid"> IS NOT CORRECTLY COMPLETED!</div>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                      </div>
                      <input type="email" name="email" class="form-control" id="email" formControlName="email" [(ngModel)]="user.email"
                        [email]="true" required>
                    </div>
                    <label for="birthday">Birthday</label>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-birthday-cake"></i></span>
                      </div>
                      <input type="date" class="form-control" name="birthday" formControlName="birthday" [(ngModel)]="user.birthday"
                        (ngModelChange)="user.birthday = $event" [value]="birthday | date:'yyyy-MM-dd'" min="1919-12-31" max="2010-12-31"
                        required>
                    </div>
                    <br>
              
                    <button type="button" class="btn btn-primary form-control btn-changepass" data-toggle="modal" data-target="#changePassModal">
                      CHANGE PASSWORD <i class="fas fa-key"></i>
                    </button>
              
                  </div>
                </div>
              </div>
            </div>

            <!-- DESACTIVATE ACCOUNT -->
            <!--<p><button type="button" (click)="setActiveStatus()" class="text-muted btn btn-link" style="margin-left: 23px">Desactive your account</button></p>-->
            
            <button class="btn btn-link text-muted" mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage"
              placement="right" (confirm)="desactiveAccount()" (cancel)="cancelClicked = true">
              Desactive your account
            </button>
            <hr>
            <button (click)="updateUser()" class="btn btn-success float-right" [disabled]="!editForm.valid">MAKE CHANGES <i class="fas fa-arrow-right"></i></button>
          
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL CHANGE PASSWORD -->
<div class="modal fade" id="changePassModal" tabindex="-1" role="dialog" aria-labelledby="changePassModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" >
      <div class="modal-content">
          <form [formGroup]="changePassForm" (ngSubmit)="changePassAddPost(changePassForm.value)">
            
            <div class="modal-header mdl-head">
              <h5 class="modal-title" id="changePassModalLabel"> CHANGE PASSWORD <i class="fas fa-unlock"></i></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body">
              <!-- Current Password -->
              <label for="currentPassword">Current Password</label>
              <div class="alert" *ngIf="!changePassForm.controls['currentPassword'].valid"> You must complete this field...</div>
              <div class="success" *ngIf="changePassForm.controls['currentPassword'].valid"> Ohhh YessSS</div>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-unlock-alt"></i></span>
                </div>
                <input type="password" name="currentPassword" class="form-control" id="currentPassword" formControlName="currentPassword" [(ngModel)]="currentPassword" 
                  placeholder="Min 8 chars, at least 1 letter, 1 number and 1 special character" autocomplete="current-password" required>
              </div>
                
              <!-- New Password -->
              <label for="newPassword">New Password</label>
              <div class="alert" *ngIf="!changePassForm.controls['newPassword'].valid"> You must complete this field...</div>
              <div class="success" *ngIf="changePassForm.controls['newPassword'].valid"> Ohhh YessSS</div>
              
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <input type="password" name="newPassword" class="form-control" id="newPassword" formControlName="newPassword" [(ngModel)]="newPassword"
                  placeholder="Min 8 chars, at least 1 letter, 1 number and 1 special character" autocomplete="current-password" required>
              </div>

              <!-- Password Repeated -->
              <label for="passwordRepeated">Repeat Password</label>
              <div class="alert" *ngIf="!changePassForm.controls['passwordRepeated'].valid"> You must complete this field...</div>
              <div class="success" *ngIf="changePassForm.controls['passwordRepeated'].valid"> Ohhh YessSS</div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <input type="password" name="passwordRepeated" class="form-control" id="passwordRepeated" formControlName="passwordRepeated" [(ngModel)]="passwordRepeated"
                  placeholder="Min 8 chars, at least 1 letter, 1 number and 1 special character" autocomplete="current-password" required>
              </div>

              </div>
              <div class="modal-footer mdl-foot">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close <i class="fas fa-times"></i></button>
                <button type="submit" class="btn btn-success" [disabled]="!changePassForm.valid">Save changes <i class="fas fa-arrow-right"></i></button>
              </div>

        </form>
    </div>
  </div>
</div>

<notifier-container></notifier-container>