.clr-org
  background: #f7aa3f !important
  color: #333333 !important

.btn-changepass
  margin-bottom: 25px

.alert
  background: white
  color: red
  padding: 7px
  font-size: .9em
  margin-bottom: 20px
  display: inline-block
  animation: 2s alertAnim forwards

.success
  background: white
  color: green
  padding: 7px
  font-size: .9em
  margin-bottom: 20px
  display: inline-block
  animation: 2s alertAnim forwards

@keyframes alertAnim
  from
    opacity: 0
    transform: translateY(-20px)
  to
    opacity: 1
    transform: translateY(0)