<app-signin-form></app-signin-form>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <!-- PANEL RANKING (All Categories) -->
                <div class="panel-heading panel_heading">
                    <span id="txt_visited"><i class="fa fa-globe" aria-hidden="true"></i> RANKING (All Categories)</span>
                </div>
                <div class="panel-body">
                    <app-ranking-first></app-ranking-first>
                    <app-ranking-listall></app-ranking-listall>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <!-- PANEL RANKING (Illustration) -->
                <div class="panel-heading panel_heading">
                    <span id="txt_visited"><i class="fa fa-paint-brush" aria-hidden="true"></i> RANKING (Illustration)</span>
                </div>
                <div class="panel-body">
                    <app-ranking-illustration></app-ranking-illustration>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <!-- PANEL RANKING (Photography) -->
                <div class="panel-heading panel_heading">
                    <span id="txt_visited"><i class="fa fa-camera-retro" aria-hidden="true"></i> RANKING (Photography)</span>
                </div>
                <div class="panel-body">
                    <app-ranking-photography></app-ranking-photography>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <!-- PANEL RANKING (Modeling) -->
                <div class="panel-heading panel_heading">
                    <span id="txt_visited"><i class="fa fa-cube" aria-hidden="true"></i> RANKING (Modeling)</span>
                </div>
                <div class="panel-body">
                    <app-ranking-modeling></app-ranking-modeling>
                </div>
            </div>
        </div>
    </div>
</div>