<app-signin-form></app-signin-form>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading panel_heading">
                    <span id="txt_visited">RANKING (All Categories)</span>
                </div>
                <div class="panel-body">
                    <app-ranking-first></app-ranking-first>
                    <app-ranking-listall></app-ranking-listall>
                </div>
            </div>
        </div>
    </div>
</div>