/* general */

.point
	cursor: pointer

.pos-abs
    position: absolute !important

.pos-rel
    position: relative !important

.no-space
    margin: 0px !important
    padding: 0px !important

/* mixins */
%div-header
	z-index: 3
	position: absolute
	right: 0
	bottom: 0
	width: 80%
	box-shadow: 5px 5px 15px

/* divs */

.div-orange
	@extend %div-header
	background: #c98519
	height: 13%
	margin-bottom: 2.5%
	@media (min-width: 350px)
		font-size: 170%
	@media (min-width: 768px)
		font-size: 230%
	@media (min-width: 991px)
		font-size: 310%
	@media (min-width: 1200px)
		font-size: 370%

.div-orange-desc
	@extend %div-header
	background: #ff9e03
	color: #F7AA3F
	height: 6%
	@media (min-width: 768px)
		font-size: 100%
	@media (min-width: 991px)
		font-size: 130%
	@media (min-width: 1200px)
		font-size: 160%

/* buttons */

.btn-file 
    position: relative
    overflow: hidden
    z-index: 2
    right: 0
    margin-right: 60px
    margin-top: 17px

.btn-file input[type=file]
    position: fixed
    top: 0
    right: 0
    min-width: 100%
    min-height: 100%
    font-size: 100px
    text-align: right
    filter: alpha(opacity=0)
    opacity: 0
    outline: none
    cursor: inherit
    display: block

.btn-upl
	margin: 2.1% 8% 5%

.btn-setting
    position: absolute
    top: 17px
    right: 20px

.btn-upload
    z-index: 2
    position: fixed
    right: 0
    margin-right: 30px
    margin-top: 10px

// Images

.img-header
    max-width: 100%
    max-height: 100%

.img-avatar
    z-index: 2
    margin-left: 3%
    margin-top: -6%

/* footer social icons */

ul.social-network
	list-style: none
	display: inline
	margin-left:0 !important
	padding: 0

ul.social-network li
	display: inline
	margin: 0 5px

/* footer social icons */

.social-network a.icoRss:hover
	background-color: #F56505

.social-network a.icoFacebook:hover
	background-color:#3B5998

.social-network a.icoTwitter:hover
	background-color:#33ccff

.social-network a.icoDeviantart:hover
	background-color:#05CC47

.social-network a.icoVimeo:hover
	background-color:#0590B8

.social-network a.icoLinkedin:hover
	background-color:#007bb7

.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoDeviantart:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i
	color:#fff
	width: 100%

a.socialIcon:hover, .socialHoverClass
	color:#44BCDD

.social-circle li a 
	display: inline-block
	position: relative
	margin: 0 auto 0 auto
	-moz-border-radius: 50%
	-webkit-border-radius: 50%
	border-radius: 50%
	text-align: center
	width: 40px
	height: 40px
	font-size: 15px

.social-circle li i
	margin: 0
	line-height: 40px
	text-align: center

.social-circle li a:hover i, .triggeredHover
	-moz-transform: rotate(360deg)
	-webkit-transform: rotate(360deg)
	-ms--transform: rotate(360deg)
	transform: rotate(360deg)
	-webkit-transition: all 0.2s
	-moz-transition: all 0.2s
	-o-transition: all 0.2s
	-ms-transition: all 0.2s
	transition: all 0.2s

.social-circle i
	color: #fff
	-webkit-transition: all 0.8s
	-moz-transition: all 0.8s
	-o-transition: all 0.8s
	-ms-transition: all 0.8s
	transition: all 0.8s

a
 background-color: #D3D3D3

/* labels */

.txt-username
	margin-right: 4%
	max-width: 63%
	color: whitesmoke
	text-shadow: 2px 2px #4b4b4b
	line-height: initial

.txt-description
	margin-right: 4%
	max-width: 63%
	color: whitesmoke
	line-height: initial