<div class="container jumbotron jumbotron-fluid no-space pos-abs">
  <button (click)="navigateToProfileSetting()" class="btn btn-sm btn-primary btn-setting" style="z-index: 4"><i class="fas fa-cog"></i></button>
  
  <span class="btn btn-secondary btn-sm btn-file pos-abs" data-toggle="modal" data-target="#modalUploadHeader">
    <span class="d-none d-xl-block d-lg-block d-md-block"> HEADER <i class="fas fa-file-upload"></i></span> <i class="fas fa-file-upload d-xl-none d-lg-none d-md-none"></i> 
  </span>

  <div class="div-orange">
    <p class="float-right txt-username">{{ user.firstname + ' ' + user.lastname | uppercase }}</p>
  </div>
  
  <div class="div-orange-desc d-none d-sm-block"><span data-editable class="float-right txt-description d-none d-md-block">{{ user.state }}</span></div>
  
  <img src="http://localhost:3087/lvlart-api/get-header/{{ user.img_head }}" class="img-header" alt="">
  <img *ngIf="user.img_head === null" src="https://dummyimage.com/1150x400" class="img-header" alt="">
</div>

<br>

<!-- Social Networks -->
<div class="row h-100 justify-content-center align-items-center">
  <ul class="social-network social-circle d-none d-sm-block">
    <li *ngIf="user.active_facebook == 'true'"><a href="http://{{ user.profile_facebook }}" target="_blank" class="icoFacebook"
        title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
    <li *ngIf="user.active_twitter == 'true'"><a href="http://{{ user.profile_twitter }}" target="_blank" class="icoTwitter"
        title="Twitter"><i class="fab fa-twitter"></i></a></li>
    <li *ngIf="user.active_deviantart == 'true'"><a href="http://{{ user.profile_deviantart }}" target="_blank"
        class="icoDeviantart" title="Deviantart"><i class="fab fa-deviantart"></i></a></li>
  </ul>
</div>

<br class="d-none d-xl-block d-lg-block">
<br class="d-none d-xl-block d-lg-block">
<br class="d-none d-xl-block d-lg-block">
<br class="d-none d-xl-block d-lg-block d-md-block">
<br class="d-none d-xl-block">

<!-- Avatar -->
<div style="width: 100%">
  <div *ngIf="user.avatar === null">
    <img src="https://dummyimage.com/500x500" id="avt-empty" (click)="shakeAvatar($event)" class="rounded-circle img-thumbnail pos-rel img-avatar d-none d-sm-none d-md-block point" style="z-index: 4" alt="avatar" width="28%">
    <br class="d-block d-sm-none">
    <img src="https://dummyimage.com/500x500" id="avt-empty-sm" (click)="shakeAvatar($event)" class="rounded-circle img-thumbnail pos-rel img-avatar d-lg-none d-md-none d-sm-block d-block point" style="z-index: 4" alt="avatar" width="30%">
  </div>
  <div *ngIf="user.avatar !== null">
    <img src="http://localhost:3087/lvlart-api/get-avatar/{{ user.avatar }}" id="img-avt" (click)="shakeAvatar($event)" class="rounded-circle img-thumbnail pos-rel img-avatar d-none d-sm-none d-md-block point"
      style="z-index: 4" alt="avatar" width="28%">
    <br class="d-block d-sm-none">
    <img src="http://localhost:3087/lvlart-api/get-avatar/{{ user.avatar }}" id="img-avt-sm" (click)="shakeAvatar($event)" class="rounded-circle img-thumbnail pos-rel img-avatar d-lg-none d-md-none d-sm-block d-block point"
      style="z-index: 4" alt="avatar" width="28%">
  </div>
</div>

<!-- Upload images -->
<div class="row">
  <div class="col-lg-12">
    <span class="btn btn-info btn-sm btn-file pos-abs btn-upl" data-toggle="modal" data-target="#modalUploadImage">
      <span class="d-none d-xl-block d-lg-block d-md-block"><i class="fas fa-file-upload"></i></span> <i class="fas fa-file-upload d-xl-none d-lg-none d-md-none"></i> 
    </span>
  </div>
</div>

<!-- Infobox and last visits -->
<div class="row">
  <div class="col-lg-6">
    <app-carousel-lastvisits></app-carousel-lastvisits>
  </div>
  <div class="col-lg-6">
    <app-profile-info></app-profile-info>
  </div>
</div>

<app-header-uploader></app-header-uploader>

<app-image-uploader></app-image-uploader>
