<!-- Start your code here -->
<div class="panel panel-default event without_margin">
  <div class="panel-body">
    <div class="rsvp col-xs-2 col-sm-2">
      <br>
      <p class="font_fjalla number">1</p>
      <p class="font_fjalla hidden-xs position">position</p>
      <div class="hidden-xs">
        <span class="fa fa-thumbs-up fa-2x"></span>
        <span class="fa fa-thumbs-down fa-2x"></span>
      </div>
    </div>
    <div class="info col-xs-8 col-sm-6">
      <div *ngIf="thereAreUser">
        <span class="font_fjalla f_size"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i> <a [routerLink]="['../app-profile/profileuser', bestuser._id]">{{ bestuser.username }}</a></span>
      </div>
      <div class="visible-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elitero..</div>
      <div class="hidden-xs">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#location" aria-controls="location" role="tab" data-toggle="tab">Location</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="location"><i class="fa fa-map-marker" aria-hidden="true"></i> location</div>
            <div role="tabpanel" class="tab-pane" id="profile">
              <div class="row">
                <div class="col-md-6">
                  <div *ngIf="thereAreUser">
                    <strong><i class="fa fa-star-o" aria-hidden="true"></i> score: </strong>{{ bestuser.score }}<br>
                    <strong><i class="fa fa-eye" aria-hidden="true"></i> visits: </strong>{{ bestuser.visits }}<br>
                  </div>
                </div>
                <div class="col-md-6">
                  <div *ngIf="thereAreUser">
                    <strong><i class="fa fa-chevron-circle-up" aria-hidden="true"></i> victories: </strong>{{ bestuser.n_victories }}<br>
                    <strong><i class="fa fa-chevron-circle-down" aria-hidden="true"></i> defeats: </strong>{{ bestuser.n_defeats }}
                  </div>
                </div>
              </div>
              <div class="row">
                  <div class="col-md-12">
                    <div *ngIf="thereAreUser">
                      <strong><i class="fa fa-envelope-o" aria-hidden="true"></i> email: </strong>{{ bestuser.email }}
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
    </div>
    <div class="author col-xs-2 col-sm-3 col-md-4">
        <div class="profile-image hidden-xs">
          <div *ngIf="thereAreUser">
            <img src="http://localhost:3001/api/user/{{ bestuser._id }}/avatar"/>
          </div>
        </div>
        <div class="profile hidden-xs">
          <div *ngIf="thereAreUser">
            <br>
            <span class="font_fjalla">{{ bestuser.firstname | uppercase }} {{ bestuser.lastname | uppercase }}</span><br>
            <span class="font_fjalla">CATEGORY: </span>{{ bestuser.categories }}<br>
            <span class="font_fjalla">LVL: </span>{{ bestuser.score | level }}
            <div class="links hidden-sm">
              <a href="{{ bestuser.profile_facebook }}" target="_blank"><i class="fa fa-facebook-square fa-2x col-xs-3"></i></a>
              <a href="{{ bestuser.profile_twitter }}" target="_blank"><i class="fa fa-twitter-square fa-2x col-xs-3"></i></a>
              <a href="{{ bestuser.profile_pinterest }}" target="_blank"><i class="fa fa-pinterest-square  fa-2x col-xs-3"></i></a>
              <a href="http://www.github.com/erickangweisz" target="_blank"><i class="fa fa-github-square fa-2x col-xs-3"></i></a>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>