<!--<p>
  profile-view works!
  <button [routerLink]="['/app-profile/edit']">edit profile</button>
  <button [routerLink]="['/app-profile/uploadimages']">upload images</button>
</p>-->
<div class="container">
        <div class="row">
            <div class="col-md-12">
                <app-profile-header></app-profile-header>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <!--<div class="div_visits"><span class="txt_visits">17.352 Visits</span></div>-->
                <!--<carousel_lastvisits></carousel_lastvisits>-->
            </div>
            <div class="col-md-7">
                <!--<div class="div_notifications"><span class="txt_notifications">Notifications +7</span></div>-->
                
                <app-profile-info></app-profile-info>
            </div>
        </div>
        <br>
        <div class="row ">
            <div class="col-md-9 ">
                <div class="row ">
                    <div class="col-md-12 ">
                        <!--<gallery_profile></gallery_profile>-->
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-12 ">
                        <!--<gallery_favorites></gallery_favorites>-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <!--<profile_statistics></profile_statistics>-->
                    </div>
                    <div class="col-md-5">
                        <!--<profile_ranking></profile_ranking>-->
                    </div>
                </div>
            </div>
            <div class="col-md-3 ">
                <!--<my_wall></my_wall>-->
            </div>
        </div>
        <br>

    </div>