<body>
<!-- Swiper -->
<div class="swiper-container">
  <div class="swiper-header">
    <span id="last-visits-header">LAST VISITS</span>
  </div>
  <div class="swiper-wrapper">
    <!-- TODO: Get data from database when visits are implemented-->
    <div class="swiper-slide img-thumbnail" style="background-image:url(https://via.placeholder.com/500)"></div>
    <div class="swiper-slide img-thumbnail" style="background-image:url(https://via.placeholder.com/500)"></div>
    <div class="swiper-slide img-thumbnail" style="background-image:url(https://via.placeholder.com/500)"></div>
    <div class="swiper-slide img-thumbnail" style="background-image:url(https://via.placeholder.com/500)"></div>
    <div class="swiper-slide img-thumbnail" style="background-image:url(https://via.placeholder.com/500)"></div>
    <div class="swiper-slide img-thumbnail" style="background-image:url(https://via.placeholder.com/500)"></div>
    <div class="swiper-slide img-thumbnail" style="background-image:url(https://via.placeholder.com/500)"></div>
    <div class="swiper-slide img-thumbnail" style="background-image:url(https://via.placeholder.com/500)"></div>
    <div class="swiper-slide img-thumbnail" style="background-image:url(https://via.placeholder.com/500)"></div>
    <div class="swiper-slide img-thumbnail" style="background-image:url(https://via.placeholder.com/500)"></div>
  </div>
  <!-- END TODO -->
  <div class="swiper-pagination"></div>
</div>
</body>