.swiper-container
    width: 100%
    padding-bottom: 30px

.swiper-slide
    background-position: center
    background-size: cover
    width: 150px
    height: 150px

.swiper-header
    background: #363636
    height: 3vh
    margin-top: 2%

#last-visits-header
    font-size: 2.7vh
    color: white
    margin-left: 2%