<div class="panel panel-default widget">
    <div class="panel-body">
        <ul class="list-group">
            <div *ngIf="thereAreUsers">
                <div *ngFor="let user of bestmodeling; let i = index">
                    <div *ngIf="i < 5">
                        <li class="list-group-item c_lightorange">
                            <div class="row">
                                <div class="col-md-2 c_darkgrey">
                                    <p class="number_position text-center">{{ i + 1 }}</p>
                                    <p class="text-center text_position">position</p>
                                </div>
                                <div class="col-xs-6 col-md-7">
                                    <div>
                                        <a href="#" class="text_username">{{ bestmodeling[i].username }}</a>
                                        <div class="comment-text">
                                            <i class="fa fa-eye" aria-hidden="true"></i> visits: {{ bestmodeling[i].visits }}
                                        </div>
                                    </div>
                                    <div class="comment-text">
                                        <i class="fa fa-star-o" aria-hidden="true"></i> score: {{ bestmodeling[i].score }}
                                    </div>
                                </div>
                                <div class="col-xs-2 col-md-1">
                                    <img src="http://localhost:3001/api/user/{{ bestmodeling[i]._id }}/avatar" class="img-circle img-responsive m_top img_avatar" alt=""/>
                                </div>
                                <div class="co-md-2 m_top">
                                    <span class="font_fjalla">{{ bestmodeling[i].firstname | uppercase }}{{ bestmodeling[i].lastname | uppercase }}</span><br>
                                    <span class="font_fjalla">CATEGORY: {{ bestmodeling[i].category }}</span><br>
                                    <span class="font_fjalla">LVL: {{ bestmodeling[i].score | level }}</span>
                                </div>
                            </div>
                        </li>
                    </div>
                </div>
            </div>
        </ul>
        <!--<a href="#" class="btn btn-warning btn-sm btn-block" role="button"><span class="glyphicon glyphicon-refresh"></span> More</a>-->
    </div>
</div>
   

