<div class="row">
    <div class="col-md-12">
        <!-- jumbotron -->
        <div class="jumbotron" style="padding: 0px !important; ">
            <button class="btn btn-default btn_loadImage"><i class="fa fa-file-image-o" aria-hidden="true"></i></button>
            <img src="http://localhost:3001/api/user/{{ userid }}/imghead" alt="First slide" style="width:100%;">
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4">
                <div class="row">
                    <div class="col-md-12 hidden-md">
                        <!-- btn facebook -->
                        <a [href]="urlfacebook" target="_blank" class="btn btn-primary btn_facebook hidden-sm hidden-xs animated bounceInLeft"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
                        <!-- btn twitter -->
                        <a [href]="urltwitter" target="_blank" class="btn btn-info btn_twitter hidden-sm hidden-xs animated bounceInLeft"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
                        <!-- btn pinterest -->
                        <a [href]="urlpinterest" target="_blank" class="btn btn-danger btn_pinterest hidden-sm hidden-xs animated bounceInLeft"><i class="fa fa-pinterest-square fa-2x" aria-hidden="true"></i></a>
                        <!-- btn github -->
                        <a href="https://www.github.com/erickangweisz" target="_blank" class="btn btn-default btn_github  animated bounceInLeft"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <!-- img photo -->
                        <img src="http://localhost:3001/api/user/{{ userid }}/avatar" alt="image profile" class="img-thumbnail img_photo hidden-xs hidden-sm pull-left" />
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <!-- div orange -->
                <div id="div_orange" class="pull-right hidden-sm hidden-xs"></div>
                <!-- div orange2 -->
                <div id="div_orange_2" class="pull-right hidden-sm hidden-xs">
                    <span class="pull-right txt_name">{{ firstname | uppercase }} {{ lastname | uppercase }}</span>
                </div>
            </div>
        </div>
    </div>
</div>