<img [src]="croppedImage" id="img-avt" class="img-avatar"/>

<div class="card bg-light mb-3">

  <div class="card-header">
    AVATAR <i class="fas fa-user-circle"></i>
  </div>

  <div class="card-body">
    <input type="file" class="btn btn-file btn-primary text-center" style="width: 100%" 
      (change)="fileChangeEvent($event)" />
    <br>
    <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" 
      [cropperMinWidth]="500" [resizeToWidth]="500" [aspectRatio]="1 / 1" format="png" 
      (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
      (loadImageFailed)="loadImageFailed()"></image-cropper>
    <hr>
    <button (click)="uploadImage()" type="button" class="btn btn-success float-right">
      UPLOAD IMAGE <i class="fas fa-upload"></i>
    </button>
  </div>

</div>