<div class="row">
    <div class="col-md-12">
        <div id="div_grey">
            <span id="txt_visited">LAST VISITS</span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="carousel slide" id="media">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row without_margin">
                        <div class="col-md-3">
                            <a class="thumbnail" href="#"><img alt="" src="https://dummyimage.com/80x80/C6CACC/fff" class="spacing"></a>
                        </div>
                        <div class="col-md-3">
                            <a class="thumbnail" href="#"><img alt="" src="https://dummyimage.com/80x80/C6CACC/fff" class="spacing"></a>
                        </div>
                        <div class="col-md-3">
                            <a class="thumbnail" href="#"><img alt="" src="https://dummyimage.com/80x80/C6CACC/fff" class="spacing"></a>
                        </div>
                        <div class="col-md-3">
                            <a class="thumbnail" href="#"><img alt="" src="https://dummyimage.com/80x80/C6CACC/fff" class="spacing"></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row" style="margin:0px; padding: 0px;">
                        <div class="col-md-3">
                            <a class="thumbnail" href="#"><img alt="" src="https://dummyimage.com/80x80/C6CACC/fff" class="spacing"></a>
                        </div>
                        <div class="col-md-3">
                            <a class="thumbnail" href="#"><img alt="" src="https://dummyimage.com/80x80/C6CACC/fff" class="spacing"></a>
                        </div>
                        <div class="col-md-3">
                            <a class="thumbnail" href="#"><img alt="" src="https://dummyimage.com/80x80/C6CACC/fff" class="spacing"></a>
                        </div>
                        <div class="col-md-3">
                            <a class="thumbnail" href="#"><img alt="" src="https://dummyimage.com/80x80/C6CACC/fff" class="spacing"></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row" style="margin:0px; padding: 0px;">
                        <div class="col-md-3">
                            <a class="thumbnail" href="#"><img alt="" src="https://dummyimage.com/80x80/C6CACC/fff" class="spacing"></a>
                        </div>
                        <div class="col-md-3">
                            <a class="thumbnail" href="#"><img alt="" src="https://dummyimage.com/80x80/C6CACC/fff" class="spacing"></a>
                        </div>
                        <div class="col-md-3">
                            <a class="thumbnail" href="#"><img alt="" src="https://dummyimage.com/80x80/C6CACC/fff" class="spacing"></a>
                        </div>
                        <div class="col-md-3">
                            <a class="thumbnail" href="#"><img alt="" src="https://dummyimage.com/80x80/C6CACC/fff" class="spacing"></a>
                        </div>
                    </div>
                </div>
            </div>
            <a data-slide="prev" href="#media" class="left carousel-control"><i class="fa fa-arrow-circle-left" aria-hidden="true" style="position: relative; top: 40px; left: -15px;"></i></a>
            <a data-slide="next" href="#media" class="right carousel-control"><i class="fa fa-arrow-circle-right" aria-hidden="true" style="position: relative; top: 40px; right: -15px;"></i></a>
        </div>
    </div>
</div>