<div class="card w-100 card-position">
  <div class="row">

    <div class="col-4 no-margin">
      <img *ngIf="user == null" src="https://dummyimage.com/180x180" alt="..." class="img-thumbnail no-margin float-right" style="width: 90%; height: 100%">
      <img *ngIf="user" src="{{ urlImage }}" alt="..." class="img-thumbnail no-margin float-right img-fluid img-category">
    </div>

    <div class="col-8 col-margin">
        <div class="card-body grey-c card-margin" style="height: 100%; margin-left: 5px">

        <div class="div_lvl text-center">
          <span class="txt_num text-center ">LVL</span>
          <span class="num_lvl">{{ experience | level }}</span>
        </div>

          <div style="padding-left: 15px; padding-right: 10px">
            <h2 class="card-title no-margin">{{ user.username | uppercase }}</h2>

            <hr class="no-margin">

            <span class="class-category">{{ user.category | uppercase }} | {{ user.category | class | uppercase }} 
              <i *ngIf="user.category === 'Watcher'" class="fas fa-shield-alt"></i>
              <i *ngIf="user.category === 'Illustration'" class="fas fa-book-dead"></i>
              <i *ngIf="user.category === 'Photography'" class="fas fa-mask class-thief"></i>
            </span>

            <!-- power icons -->
            <div>
              <span class="power-photography">
                <i class="fas fa-camera-retro icon-profile"></i>
              </span>
              <span class="power-fire">
                <i class="fas fa-fire icon-profile"></i>
              </span>
              <span class="power-bookdead">
                <i class="fas fa-book-dead icon-profile"></i>
              </span>
            </div>

            <!-- bar experience -->
            <div class="labels" style="margin-top: 2%">
              <span>Exp:</span>
              <span style="margin-right: 2%">{{ experience }}</span>
            </div>
            <div class="progress" style="margin-right: 2%">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                [ngStyle]="{ 'width': getExperience() }">
              </div>
            </div>

          </div>
        </div>
    </div>
  </div>
</div>