/* general */
    
.grey-c
    background: #4b4b4b !important
    color: whitesmoke

.card-position
    position: relative
    margin-top: 1.8%

.no-margin
    margin: 0px
    padding: 0px

.col-margin
    padding-left: 0px

.card-margin


/* progress bar */

.labels
  display: flex
  justify-content: space-between
  margin-bottom: 5px
  span
    color: #b7b7b7

.progress
  height: 8px

.progress-bar
    background: -webkit-linear-gradient(left, #FF9E03 70%, #dd1c1c 30%) /* Chrome10-25,Safari5.1-6 */

/* lvl square */

.div_lvl
    background: #FFA500 
    border-radius: 15px
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#fe7c02, #fef0ad)
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fe7c02, #fef0ad)
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fe7c02, #fef0ad)
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fe7c02, #fef0ad)
    /* Standard syntax */
    position: absolute
    top: -20px
    left: 80%
    width: 20%
    opacity: 0.9
    filter: alpha(opacity=80)
    z-index: 1

.num_lvl
    font-size: 8vh
    font-family: 'Fjalla One', sans-serif
    color: white
    z-index: 8

.txt_num
    color: white
    font-size: 17px
    position: absolute
    right: 38%
    margin-top: 5%

.class-category
    font-size: 20px

/* mixins */

%power-icon
    height: 30px
    width: 30px
    border-radius: 50%
    display: inline-block
    font-size: 25px
    background: whitesmoke
    border-radius: 50%
    margin-top: 0%
    margin-bottom: 0px
    margin-right: 3%
    padding-left: 1%

/* variables */

$red: #ff3333
$purple: #9c39ff
$green: #049935
$darkpurple: #400040

/* power icons bar */

.power-fire
    @extend %power-icon
    color: $red

.class-thief
    color: $purple
    text-shadow: 2px 2px black
    font-size: 25px

.power-photography
    @extend %power-icon
    color: $green

.power-bookdead
    @extend %power-icon
    color: $darkpurple

.img-category
    width: 90%
    height: 94%
    max-width: 94%
    margin-top: 5px
    padding: 45px 40px